---
# Handlers for nginx

- name: Restart Nginx
  service:
     name=nginx
    state=restarted

- name: Restart Firewall - CentOS
  service:
     name=firewalld
    state=restarted

- name: Restart Firewall - Ubuntu
  ufw: state=reloaded
