# {{ ansible_managed }}

# Additional configuration file - TLS/SSL defaults
#
# This is a harmonised configuration file created by merging, and then modifying, the Ubuntu and CentOS default
# configuration files.
#
# This file is included within the 'http' directive of the main Nginx configuration file '/etc/nginx/nginx.conf'.

ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
ssl_prefer_server_ciphers on;
