# {{ ansible_managed }}

# Module configuration file - http configuration
#
# This is a harmonised configuration file created by merging, and then modifying, the Ubuntu and CentOS default
# configuration files.
#
# This file is included directly within the main Nginx configuration file '/etc/nginx/nginx.conf'.
#
# Server block (virtual host) definitions *SHOULD NOT* be listed in this file. Instead:
# 1. Create a server block definition file in '/etc/nginx/sites-available/'
# 2. Create a symbolic link to this definition file in '/etc/nginx/sites-enabled/'
# 3. Restart the Nginx service
#
# Similarly, configuration for additional features of this module, such as Gzip, proxies and SSL/TLS *SHOULD NOT* be
# listed in this file. Instead:
# 1. Create a suitable configuration file in '/etc/nginx/conf.d/http/' (or symoblic link a file to this directory)
# 2. Restart the Nginx service

http {
    # Basic settings
    sendfile on;
    tcp_nopush on;
    keepalive_timeout 65;
    types_hash_max_size 2048;
    server_tokens off;

    # Default additional configuration files
    # Gzip       defaults are set in /etc/nginx/conf.d/http/gzip.conf
    # SSL/TLS    defaults are set in /etc/nginx/conf.d/http/tls.conf
    # Mime types defaults are set in /etc/nginx/conf.d/http/mime.conf
    # Logging    defaults are set in /etc/nginx/conf.d/http/logging.conf

    # Load additional configuration files
    include /etc/nginx/conf.d/http/*.conf;

    # Load enabled virtual hosts
    include /etc/nginx/sites-enabled/*;
}
