# {{ ansible_managed }}

server {
	listen {{ nginx_default_var_www_server_binding }}:{{ nginx_default_var_www_server_https_port }} ssl;
	listen [::]:{{ nginx_default_var_www_server_https_port }} default_server ipv6only=on;

	server_name {{ ansible_hostname }};
	
	root {{ nginx_default_var_www_document_root }};
	index index.html index.htm;

	ssl_certificate {{ nginx_default_var_www_ssl_cert_path }}/{{ nginx_default_var_www_ssl_cert_file }};
	ssl_certificate_key {{ nginx_default_var_www_ssl_key_path }}/{{ nginx_default_var_www_ssl_key_file }};

	location / {
		# First attempt to serve request as file, then as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
	}

	error_page 500 502 503 504 /50x.html;  # redirect server error pages to the static page /50x.html
	location = /50x.html {
		root /usr/share/nginx/html;
	}
}