# {{ ansible_managed }}

# Additional configuration file - Static Caching
#
# Options in this file are based on:
# * https://github.com/h5bp/server-configs-nginx
#
# This file is included within 'server blocks' directives, which are in turn, included in the 'http' directive of the
# main Nginx configuration file '/etc/nginx/nginx.conf'

# No default expire rule.
# Nginx applies rules by location, if you use no file extension in the url and serve html, you get an expire header of
# one month in the future (if the default expire rule is 1 month).

# Dynamic content - no caching
location ~* \.(?:manifest|appcache|html?|xml|json)$ {
  expires -1;
}

# RSS feeds - 1 hour
location ~* \.(?:rss|atom)$ {
  expires 1h;
}

# Media: images, icons, video, audio, HTC - 1 month
location ~* \.(?:jpg|jpeg|gif|png|ico|cur|gz|svg|svgz|mp4|ogg|ogv|webm|htc)$ {
  expires 1M;
}

# WebFonts - 1 month
location ~* \.(?:ttf|ttc|otf|eot|woff|woff2)$ {
 expires 1M;
}

# CSS and Javascript - 1 year (use cache busting)
location ~* \.(?:css|js)$ {
  expires 1y;
}
